body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  #calculator {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 0 auto;
    max-width: 600px;
  }
#btnn{
  background-color: rgb(125, 125, 218);
}
  h2 {
    margin-top: 20px;
    
  }
  
  .input-container {
    margin-bottom: 10px;
  }
  .countries-list{
    font-size: 20px;
    font-weight: 800;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input {
    padding: 8px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 10px 20px;
    background-color: rgb(78, 78, 214);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .result {
    font-weight: bold;
    margin-top: 10px;
  }
  